.reviews {
  font-family: "Libre Baskerville", serif;
}
.reviewCardBackground {
  background: #0a0b1a;
  border: 1px solid #ffc107;
  border-radius: 13px;
  box-shadow: 6px -6px 0px 0px rgb(6, 156, 149);
}
.reviewsTitle {
  margin-top: 100px;
  font-weight: 300;
  display: inline-block;
  position: relative;
}
.reviewsTitle:before {
  content: "";
  position: absolute;
  width: 35%;
  height: 1px;
  bottom: 0;
  border-bottom: 3px solid #0259eb;
}
.cardCountryName {
  font-family: "Nunito";
  color: #ffc107;
}
.cardDescription {
  font-family: "Nunito";
}
.reviewPages {
  color: #696868;
}
